body {
	margin: auto;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	background-color: #EEE;
}

.ribbonLink {
	position: absolute;
	text-align: center;
	text-decoration: none;
	color: white;
	-webkit-transform: rotate(-45deg);
	        transform: rotate(-45deg);
	padding: 2px 0px;
}

#github {
	background-color: black;
	width: 148px;
	top: 32px;
	left: -30px;
}

#linkedin {
	background-color: #007bb5;
	width: 250px;
	top: 68px;
	left: -46px;
}

#header {
	text-align: center;
	padding: 20px;
}

#header #name {
	font-size: 5em;
}

#header #title {
	font-size: 2em;
}

.project {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 20px;
}

.project h2 {
	text-align: center;
}

.project:nth-of-type(odd) {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: row-reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
}

.projDesc {
	-webkit-flex-basis: 60%;
	    -ms-flex-preferred-size: 60%;
	        flex-basis: 60%;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	padding: 0px 10px;
}

.projDesc .challenge {
	background-color: white;
	color: black;
	border-radius: 20px;
	box-shadow: 0 0 30px rgba(0,0,0,0.2);
	padding: 20px;
}

.projTech {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.projTech ul {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.projTech ul li {
	padding: 5px 0px;
}

.projImage {
	-webkit-flex-basis: 400px;
	    -ms-flex-preferred-size: 400px;
	        flex-basis: 400px;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: center;
}

.projImage img {
	width: 100%;
	max-width: 400px;
}
