body {
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
}

#header {
	text-align: center;
	background-color: #333;
	color: white;
	font-size: 30px;
	padding: 20px;
}

#source {
	text-align: center;
	font-style: italic;
	padding: 10px;
}

.project {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px;
}

.project h2 {
	text-align: center;
}

.project:nth-child(even) {
	background-color: #333;
	color: white;
	flex-direction: row-reverse;
}

.project:nth-child(even) a {
	color: white;
}

.projDesc {
	flex-basis: 60%;
	flex-grow: 1;
	padding: 0px 10px;
}

.projTech {
	display: flex;
	flex-wrap: wrap;
}

.projTech ul {
	flex-grow: 1;
}

.projImage {
	flex-basis: 400px;
	flex-grow: 1;
	text-align: center;
}