body {
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #EEE;
}

.ribbonLink {
	position: fixed;
	text-align: center;
	text-decoration: none;
	color: white;
	transform: rotate(-45deg);
	padding: 2px 0px;
}

#github {
	background-color: black;
	width: 145px;
	top: 32px;
	left: -28px;
}

#linkedin {
	background-color: #007bb5;
	width: 245px;
	top: 68px;
	left: -45px;
}

#header {
	text-align: center;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 5em;
	padding: 20px;
}

#source {
	text-align: center;
	font-style: italic;
	padding: 10px;
}

.project {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px;
}

.project h2 {
	text-align: center;
}

.project:nth-of-type(odd) {
	background-color: #333;
	color: white;
	flex-direction: row-reverse;
}

.project:nth-of-type(odd) a {
	color: white;
}

.projDesc {
	flex-basis: 60%;
	flex-grow: 1;
	padding: 0px 10px;
}

.projTech {
	display: flex;
	flex-wrap: wrap;
}

.projTech ul {
	flex-grow: 1;
}

.projImage {
	flex-basis: 400px;
	flex-grow: 1;
	text-align: center;
}

.projImage img {
	width: 100%;
	max-width: 400px;
}
