body {
	margin: auto;
	font-size: 18px;
	font-family: MyriadPro-Regular, Arial, sans-serif;
}

a {
	text-decoration: none;
}

#header {
	display: flex;
	align-items: center;
	margin: 0 10%;
	padding: 10px 0;
}

@media screen and (max-width: 1000px) {
	#header {
		margin: 0 5%;
	}
}

@media screen and (max-width: 890px) {
	#header {
		margin: 0 1%;
	}
}

#logo {
	flex: 1 1 30%;
}

#nav {
	flex: 1 1 70%;
	text-align: right;
}

@media screen and (max-width: 815px) {
	#nav {
		display: none;
	}
}

#nav a {
	color: black;
}

#nav a:not(#inAction):hover {
	text-decoration: underline;
}

#nav #globalNav {
	font-size: 16px;
}

#nav #globalNav {
	margin-bottom: 20px;
}

#nav #globalNav a {
	padding: 0 5px;
}

#nav #mainNav a {
	padding: 0 10px;
}

#nav #mainNav #inAction {
	background-color: #996699;
	color: white;
	border-radius: 5px;
	padding: 5px 10px;
	margin-right: 5px;
}

#topContent {
	color: white;
}

#topContent #carousel {
	background-image: url(../img/top_image.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 555px;
}

#topContent #slideDots {
	background-color: #33cc66;
	height: 50px;
}

#topContent #intro, #bottomContent, #footer {
	text-align: center;
}

#topContent #intro {
	background-color: #339966;
	padding: 40px 20% 50px;
	line-height: 1.5;
}

#bottomContent {
	padding: 20px 0 50px;
}

#bottomContent #advantages {
	margin-bottom: 100px;
}

#bottomContent #advantages > div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#bottomContent #advantages > div .advantage {
	transition: 0.5s all;
	flex-basis: 155px;
	margin: 10px 0 20px 0;
}

#bottomContent #advantages > div .advantage:hover {
	transition: 0.5s all;
	margin: 0px;
}

#bottomContent #advantages > div .advantage .advCircle {
	transition: 0.5s all;
	background-color: #ddd;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	margin: auto;
}

#bottomContent #advantages > div .advantage:hover .advCircle {
	transition: 0.5s all;
	background-color: #cc99cc;
	height: 115px;
	width: 115px;
}

#bottomContent #advantages > div .advantage p {
	transition: 0.5s all;
	color: #888;
	text-transform: uppercase;
	margin: auto;
	padding: 10px 0;
}

#bottomContent #advantages > div .advantage:hover p {
	transition: 0.5s all;
	color: #cc99cc;
}

#bottomContent #advantages hr {
	width: 150px;
	margin-bottom: 30px;
}

#bottomContent #advantages > p {
	margin-left: 30%;
	margin-right: 30%;
}

#bottomContent #partners > p {
	margin-left: 20%;
	margin-right: 20%;
}

#footer {
	background-color: #ddd;
	padding: 20px;
}

#footer #footerNav, #footer #footerNav a {
	color: #cc99cc;
}

#footer #footerNav a:hover {
	text-decoration: underline;
}

#footer #social {
	padding-bottom: 10px;
}

#footer #social a {
	display: inline-block;
	margin: 0 10px;
}
