body {
	margin: auto;
}

#header {
	display: flex;
	align-items: center;
	margin: 0 10%;
	padding: 20px 0;
}

#logo {
	flex: 1 1 30%;
}

#nav {
	flex: 1 1 70%;
	text-align: right;
}

#nav a {
	text-decoration: none;
	color: black;
}

#nav a:hover {
	text-decoration: underline;
}

#nav #mainNav {
	font-size: 18px;
}

#nav #globalNav {
	margin-bottom: 20px;
}

#nav #globalNav a {
	padding: 0 5px;
}

#nav #mainNav a {
	padding: 0 10px;
}

#nav #mainNav #inAction {
	background-color: #996699;
	color: white;
	border-radius: 5px;
	padding: 5px 10px;
	margin-right: 5px;
}
